{% extends "accueil/index.html" %}

{% block content %}
{% if draft == True %}
    <h2>Liste des posts en brouillon</h2>
    <ul>
        {% for post in post_list %}
            <li><a href="{% url 'blogApp:editPost' post.id %}">{{ post }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h2>Liste des posts</h2>
    <ul>
        {% for post in post_list %}
            <li><a href="{% url 'blogApp:Post' post.id %}">{{ post }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

